html {
  min-height: 100%;
}
body {
  background-image: url("img/hills.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  max-width: 600px;
  margin: 200px auto;
}

.App footer {
  font-size: 12px;
  margin-top: 10px;
  color: #cacac0;
  text-align: center;
}
