.WeatherForecast {
  text-align: center;
  margin: 25px 0;
}

.Weather .WeatherForecast canvas {
  display: block;
  padding: 0;
  margin: 10px auto;
}

.WeatherForecastPreview {
  text-align: center;
}

@media (max-width: 768px) {
  .WeatherForecast {
    font-size: 13px;
  }
  .WeatherForecast canvas {
    margin: 5px -2px;
    padding: 0px;
    width: 30px;
  }
}
