@media (max-width: 768px) {
  .WeatherTemperature .temperature {
    font-size: 50px;
  }
}

@media (min-width: 768px) {
  .WeatherTemperature .temperature {
    font-size: 50px;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .WeatherTemperature .temperature {
    font-size: 50px;
  }
  @media (min-width: 768px) and (orientation: landscape) {
    .WeatherTemperature .temperature {
      font-size: 50px;
    }
  }
}
