@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab:wght@300&family=Train+One&family=Ubuntu&display=swap");
.Weather {
  border-radius: 5px;
  padding: 20px;
  background: rgba(226, 213, 213, 0.687);
  box-shadow: 6px 7px 16px -3px rgba(91, 91, 91, 0.73);
}

.Weather h1 {
  margin: 20px 0 10px 0;
  font-family: "Lobster", cursive;
  font-size: 50px;
}

.Weather ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.Weather canvas {
  margin-right: 10px;
  margin-top: 7px;
}

.Weather .temperature {
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: -34px;
  line-height: 1;
}

.Weather .unit a {
  color: #306f7f;
}

.Weather .unit a:hover {
  color: #306f7f;
}
.Weather .search-button {
  background: #306f7f;
  border: 1px solid #306f7f;
}

.Weather .footer {
  font-weight: 600;
}

@media (max-width: 768px) {
  .Weather .search-button {
    min-width: 100%;
  }
}

@media (min-width: 768px) {
  .Weather .search-button {
    min-width: 100%;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .Weather .search-button {
    min-width: 100%;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  .Weather .search-button {
    min-width: 100%;
  }
}
div .night {
}
