.WeatherForecast {
  text-align: center;
  margin: 25px 0;
}

.Weather .WeatherForecast canvas {
  display: block;
  padding: 0;
  margin: 10px auto;
}

.WeatherForecastPreview {
  text-align: center;
}
